<aside class="sidebar">
  <ul>
    <li><a href="/introduction/">Introduction</a></li>
    <li><a href="/guides/">Guides</a></li>
    <li><a href="/reference/">Reference</a></li>
    <!-- ajoute autant que nécessaire -->
  </ul>
</aside>
